/* background color #F5F5F5 */
/* logo header: black #000000 blue #2196F3 */
/*logo background: white #FFFFFF    blue #2196F3 */
/* nav active color #2196F3 */
/* main text color (p) #757575 */
/* h2, filter links  #212121 */
/* button text color #FFFFFF */
/* Bg color main page #2F303A */
/* sections background #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-and-nav-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #f5f4fa;
  --button-text-color: #fff;
  --background-header-footer-color: #2f303a;
  --background-color: #fff;
  --filter-unactive-background: #f5f4fa;
  --button-hover-color: #188ce8;
  --card-set-gap: 30px;
  --card-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  background-color: var(--background-header-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero {
  text-align: center;
  max-height: 600px;
  max-width: 1600px;
  background-color: var(--background-header-footer-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  margin: 0 auto 30px auto;
  width: 694px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-flex {
  display: flex;
  align-items: center;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--card-set-gap);
}
header {
  border-bottom: 1px solid #ececec;
}
.filters {
  display:flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 94px;
  display: block;
}
footer .logo {
  margin: 0 0 20px 0;
}
/* Site nav */
.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .current {
  position:relative;
}
.site-nav .current .link::after {
  content:'';
  position: absolute;
  bottom:-1px;
  left:0;
  height:4px;
  width:100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.site-nav .link {
  color: var(--title-and-nav-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-decoration: none;
  font-style: normal;
  display: block;
  padding: 32px 0;
  transition: color 250ms var(--time-function);
}

.site-nav .link:hover,
.site-nav .link:focus,
.header-address .link:hover,
.header-address .link:focus,
.header-address .link:hover >.email,
.header-address .link:focus >.email,
.header-address .link:hover >.phone,
.header-address .link:focus >.phone,
.site-nav .current a {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-address {
  display: flex;
  margin: 0 0 0 auto;
  align-items:flex-start;
}

.header-address .item:not(:last-child) {
  margin-right: 50px;
}

.header-address .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.02em;
  line-height: 1.06;
  text-decoration: none;
  font-style: normal;
  display: inline-block;
  transition: color 250ms var(--time-function);
}

.email{
  width: 16px;
  height:12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms var(--time-function);
}
.phone {
  width: 10px;
  height:16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms var(--time-function);
}

button {
  color: var(--button-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.87;
  cursor: pointer;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  /* text-align: center;*/
  transition: background-color 250ms var(--time-function);
}

button:hover,
button:focus {
  background-color: var(--button-hover-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.why-we {
  padding: 94px 0 94px 0;
}
.why-we .icons{
  height:120px;
  background-color: var(--primary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.why-we h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-and-nav-text-color);
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.why-we p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0;
}

.why-we .item {
  flex-basis: 270px;
}
.why-we .item::before{
  content: "";
  display: block;
  height:120px;
  background-color: var(--primary-background-color);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
.icon-attention::before {
  background-image: url(../images/antenna.svg);
}
.icon-punctuality::before {
  background-image: url(../images/clock.svg);
}
.icon-planning::before {
  background-image: url(../images/diagram.svg);
}
.icon-technologies::before {
  background-image: url(../images/astronaut.svg);
}
.what-we-do .item,
.portfolio .item {
  flex-basis: 370px;
}
.what-we-do {
  padding-bottom: 94px;
}
.what-we-do .item {
  position: relative;
}
.what-we-do .title {
  content:'';
  position:absolute;
  width:100%;
  height:70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  display:flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.who-we-are {
  background-color: var(--primary-background-color);
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.what-we-do h2,
.who-we-are h2,
.clients h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-and-nav-text-color);
  margin-bottom: 50px;
  margin-top: 0;
  text-align: center;
}
.who-we-are h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-and-nav-text-color);
  margin: 0 0 10px 0;
}
.who-we-are p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0 0 16px 0;
}

.team-member {
  background-color: var(--background-color);
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
}
.team-player {
  padding: 30px;
}
.social {
  display:flex;
  justify-content:center;
  align-items: center;
  gap: 10px;
  }

.social a{
  display:flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color:#AFB1B8;
  justify-content:center;
  align-items:center;
  transition: background-color 250ms var(--time-function),
              color 250ms var(--time-function);
}
.social a:hover,
.social a:focus {
  background-color: var(--accent-color);
  color:#FFF;
}
.social .icon {
  width: 20px;
  height:20px;
  fill: currentColor;
}
.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}
.clients .item {
  height: 92px;
  width: 170px;
  height: 92px;
  /*padding: 15px 31px;*/
  
}
.clients a:hover,
.clients a:focus{
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
.clients a {
  display: flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color:#AFB1B8;
  transition: border 250ms var(--time-function),
              color 250ms var(--time-function);
}
.clients .icon {
  width:106px;
  height:60px;
  fill: currentColor;
}
/* portfolio page styling */
.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}

.portfolio .link {
  color: var(--title-and-nav-text-color);
  background-color: var(--filter-unactive-background);
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.63;
  text-decoration: none;
  font-style: normal;
  border: none;
  transition: color 250ms var(--time-function),
              background-color 250ms var(--time-function),
              box-shadow 250ms var(--time-function);
}

.portfolio .link:hover,
.portfolio .link.current {
  color: var(--button-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-and-nav-text-color);
  margin: 0 0 4px 0;
}

.portfolio a {
  text-decoration: none;
}

.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0;
}
.card {
  display:block;
  transition: box-shadow 250ms var(--time-function);
}
.card:hover,
.card:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
}

.card-content {
  padding: 20px 24px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.card .picture {
  position: relative;
  overflow:hidden;
}
.card .description {
  position:absolute;
  bottom:0;
  left:0;
  height:100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding:24px;
  display:flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 250ms var(--time-function);

}
.card:hover .description,
.card:focus .description{
  transform: translateY(0);
}

.card .description p{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* footer page */
.footer-container {
  display:flex;
  align-items: baseline;
}
.footer-address {
  margin-right: 70px;
}
.bottom-address .link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  margin-bottom:9px;
  display:block;
}
.footer-social {
  margin-right: 93px;
}
.footer-social p,
.footer-form p{
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom:20px;
  margin-top:0px;
}
.footer-social .social a {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFF;
}
.footer-social .social a:hover,
.footer-social .social a:focus {
background-color: var(--accent-color);
}
.backdrop {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--time-function);
  /*visibility: visible;*/
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /*visibility: hidden;*/
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}
.modal {
  position: absolute;
  left:50%;
  top:50%;

  width:528px;
  height:581px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--time-function);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 
              0 1px 1px rgba(0, 0, 0, 0.14), 
              0 1px 3px rgba(0, 0, 0, 0.12);

}
.modal .close {
  position: absolute;
  top:8px;
  right:8px;
  width:30px;
  height:30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display:flex;
  justify-content: center;
  align-items:center;
}

.close .icon {
  width:18px;
  height:18px;
  fill: black;
  transition: fill 250ms var(--time-function);
}
.modal .close:hover .icon{
  fill: var(--accent-color);
}
.application-form {
  padding:40px;
  text-align: center;
}
.application-form .form-title {
  padding:0;
  margin:0 0 12px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-and-nav-text-color);
  text-align: center;
}
.application-form .btn {
  width:200px;
  height:50px;
  box-shadow: none;
  transition: box-shadow 250ms var(--time-function);
}
.application-form .btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.form-field {
  display:flex;
  flex-direction:column;
  position:relative;
}
.form-field label {
  font-size: 12px;
  color: var(--primary-text-color);
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  text-align: left;
}
.form-field input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  margin-bottom: 10px;
  outline:none;
  transition: border-color 250ms var(--time-function);
}
.form-field textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize:none;
  outline:none;
  transition: border-color 250ms var(--time-function);
}
.form-field textarea::placeholder {
  color:var(--primary-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form-field input:focus,
.form-field textarea:focus
 {
  border-color: var(--accent-color);

}

.form-field input:focus + .form-icon {
  fill:var(--accent-color);
}

.form-icon {
  position:absolute;
  top:29px;
  left:12px;
  width:18px;
  height:18px;
  fill:var(--title-and-nav-text-color);
  transition: fill 250ms var(--time-function);
}
.box {
  width:22px;
  height:20px;
  margin-right:8px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.check {
  border: 2px solid var(--title-and-nav-text-color);
  border-radius: 2px;
  display: block;
  width:16px;
  height:15px;
}
.agree input:checked + .box > .check {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
  background-size: cover;
  background-origin: border-box;
}
.agree input:focus + .box{
  border: 2px solid var(--title-and-nav-text-color);
}
.agree {
  display:flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}
.agree input {
  -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.agree label {
  display:flex;
  align-items: center;
  cursor:pointer;
  height: 24px;
}
.agree label,
.agree a {
  padding:0;
  margin:0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.agree a {
  color:var(--accent-color);
  margin-left: 5px;
}
.footer-form {
  margin: 0 0 0 auto;
}
.subscribe-form {
  display:flex;
}
.subscribe-form input {
  width:358px;
  height:50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius:4px;
  margin-right:12px;
  background-color: var(--background-header-footer-color);
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: white;
  outline: none;
  transition: border-color 250ms var(--time-function);
}
.subscribe-form input:focus {

  border-color: var(--accent-color);
}
.subscribe-form .btn {
  display:flex;
  align-items: center;
  padding: 10px 28px;
}
.subscribe-form .btn::after {
  content:'';
  width:24px;
  height:24px;
  margin-left: 10px;
  background-image: url(../images/send.svg);
}